{% extends "base.html" %}

{% block title %}Error: {{ error.title }} - Foller.me{% endblock %}

{% block body %}
	<div class="ab_centered error"><form method="POST" action="/">
		<a href="/"><img src="/static/images/logo.png" alt="Foller.me Home" /></a><div class="title">{{ error.title }}</div>
		<p class="error_desc">
			{{ error.message }}<br />
			<input type="text" value="type in a Twitter name" name="profile" class="twitter_input activate" style="margin-top:20px;" />
			<input type="submit" style="display:none" />
		</p>
		</form>
	</div>
	{% include "footer_simple.html" %}
{% endblock %}
