{% extends "base.html" %}
{% block body %}
	<div class="ab_centered front">
		<img src="/static/images/logo.png" />
		<form method="post" action="/"><input name="profile" type="text" value="type in a Twitter name" class="twitter_input" /><input type="submit" style="display:none" /></form>
	</div>
	<div class="ab_bottom footer"><a href="http://blog.foller.me/about/">About</a>, <a href="http://blog.foller.me/">blog</a> or <a href="http://blog.foller.me/">feedback</a>. Developed by <a href="http://twitter.com/kovshenin">@kovshenin</a> © 2009 Foller.me</div>
{% endblock %}
