{% extends "base.html" %}

{% block title %}{{ profile.name }} (@{{profile.screen_name}}) Twitter Analytics on Foller.me{% endblock %}
{% block meta %}
	<link rel="canonical" href="http://www.foller.me/{{ profile.screen_name|lower }}" />
{% endblock %}
{% block scripts %}
	<script src="http://platform.twitter.com/anywhere.js?id={{ api_key }}&v=1" type="text/javascript"></script>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ google_maps_key }}"></script>
	<script src="/static/js/jquery.jcarousel.min.js"></script>
{% endblock %}

{% block body %}
	<div id="header_wrap">
		<div id="header">
			<a href="/"><img src="/static/images/logo.png" alt="Foller.me" /></a>
			<form method="post" action="/"><input name="profile" type="text" value="type in a Twitter name" class="twitter_input" /><input type="submit" style="display:none" /></form>
			<ul>
				<li><a class="head" href="http://api.foller.me/">api</a></li>
				<li><a class="head" href="http://blog.foller.me/">blog</a></li>
				<li><a class="head" href="/about/">about</a></li>
			</ul>
		</div>
	</div>
	<div id="content_wrap">
		<div id="content_help">
			<div id="content"><div id="content_help_2"></div>
				<div id="content_help_3">
					<div id="foller_name">
						<span class="query">Recent queries:</span>

							<style>
								#recent_queries {
									width: 946px;
									display: block;
									float: left;
									height: 50px;
									overflow: hidden;
								}
								
								#recent_queries ul {
									list-style: none;
									margin: 0;
								}
								
								#recent_queries li {
									margin-left: 0;
									margin-right: 4px;
									float: left;
								}
							</style>

						<div id="recent_queries">
							<ul id="carousel">
								{% for recent in recents %}
									<li><a href="/{{ recent.screen_name }}"><img src="{{ recent.profile_image_url }}" /></a></li>
								{% endfor %}
							</ul>
							<script>
								jQuery(document).ready(function() {
									jQuery("#carousel").jcarousel({
										auto: 3,
										wrap: 'circular',
										initCallback: function() { },
										animation: 'slow'
									});
								})
							</script>
							{% comment %}
							<?php $foller->getRecentQueries(); ?>
							<script>
							/* <![CDATA[ */
								follerMeAction('recent_update');						
							/* ]]> */
							</script>
							{% endcomment %}
						</div>
						<h1 class="foller_name">@{{ profile.screen_name }}</h1>
						<em class="foller_num">
							{{ profile.followers_count }} followers / 
							{{ profile.friends_count }} following / 
							{{ profile.statuses_count }} status updates / 
							Tweeting since {{ profile.created_at|date:"F Y" }} 
							{% if profile.url %} / URL: {{ profile.url|urlizetrunc:25 }}{% endif %}
						</em>
						
						<p>{{ profile.description }}</p>
					</div>
					<div class="rec_tweet">
						<em class="the_tags notice">
							We're now running on Google App Engine! Faster, smoother, cheaper!
						</em>
					</div>
					
					<div class="rec_tweet">
						<div class="words">
							<h1>Recent topics</h1>
						</div>
						<div class="the_tags">
							{% if topics_cloud_html %}{{ topics_cloud_html }}{% else %}No topics have been mentioned by @{{ profile.screen_name }} lately.{% endif %}
						</div>
					</div>
					
					<div class="rec_tweet">
						<div class="words">
							<h1>Recent #hashtags</h1>
						</div>
						<div class="the_tags ">
							{% if hashtags_cloud_html %}{{ hashtags_cloud_html }}{% else %}No hashtags have been mentioned by @{{ profile.screen_name }} lately.{% endif %}
						</div>
					</div>
					
					<div class="rec_tweet">
						<div class="words">
							<h1>Recent @mentions</h1>
						</div>
						<div class="the_tags ">
							{% if mentions_cloud_html %}{{ mentions_cloud_html }}{% else %}@{{ profile.screen_name }} hasn't mentioned anyone lately.{% endif %}
						</div>
					</div>
					
					<div class="rec_tweet">
						<div class="words">
							<h1>Followers geography</h1>
						</div>
						
						<div class="the_tags gmaps">
						
							<div id="map_container">
								<div id="map" class="the_map" style="display: block; overflow:hidden; width: 925px; height: 300px;"></div>
								<div id="map_description">
									If you see too little pins or no pins at all, we're still parsing your query. Come back later to get a bigger picture!
								</div>

								<script type='text/javascript'>
									/* <![CDATA[ */
									map = new GMap2(document.getElementById("map")); 
									map.setCenter(new GLatLng(40, 5), 2); 
									map.addControl(new GLargeMapControl());
									
									{% for location in locations %}
										showPoint({{ location.lat }}, {{ location.lon }}, '<span class="gmaps-bubble"><h2>{{ location.name|escape }}</h2><div class="map-profiles">{% for user in location.users %}<a href="/{{ user.screen_name|escape }}" title="{{ user.screen_name|escape }}" ><img src="{{ user.profile_image_url|escape }}" alt="{{ user.screen_name|escape }}" /></a>{% endfor %}</div></span>', false);
									{% endfor %}
								</script>

							</div>

							{% comment %}
							<span class="msg"><img src="/static/images/ajax-loader.gif" class="loader" /> Gathering maps data... This may take a while ;) </span>
							<script type='text/javascript'>
							/* <![CDATA[ */
								//getMap("{{ profile.screen_name }}");
							/* ]]> */
							</script>
							{% endcomment %}
						</div>
					</div>

					<div class="rec_tweet" style="margin-top: 30px; float: left; margin-bottom: 10px;">
						<div class="the_tags" style="float: left">
							<div class="follow-user">
								<div style="float: left; margin-left: 0px;">
									<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="follerme" data-related="kovshenin:The creator of Foller.me">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
								</div>
								<div style="float: left; width: 200px; margin-left: 10px;">
									<p style="margin-top: 2px; margin-bottom: 8px;">Click on the button below to<br />follow @{{ profile.screen_name }} right now:</p>
									<span id="follow-button"><noscript><a href="http://twitter.com/{{ profile.screen_name }}">Follow @{{ profile.screen_name }} on Twitter</a></noscript></span>
									<script>
										jQuery(document).ready(function() {
											twttr.anywhere(function (T) {
												T('#follow-button').followButton('{{ profile.screen_name }}');
											});
										});
									</script>
								</div>
								<div style="float: right;">
									<script type="text/javascript"><!--
										google_ad_client = "ca-pub-9413366480011498";
										/* Foller.me v2 */
										google_ad_slot = "0241696011";
										google_ad_width = 468;
										google_ad_height = 60;
										//-->
										</script>
										<script type="text/javascript"
										src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
									</script>
								</div>
							</div>
						</div>
					</div>

					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer_wrap">
		<div id="footer">
			<span class="left">
				<a href="http://appengine.google.com/"><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></a>
			</span>
			<span class="right">
				<ul>
					<li><a href="http://blog.foller.me/about/">About Foller.me</a></li>
					<li><a href="http://blog.foller.me/">Developer's Blog</a></li>
					<li><a href="http://blog.foller.me/terms-of-use/">Terms of Use</a></li>
				</ul>
			</span>
		</div>
	</div>
		
	<script type="text/javascript" charset="utf-8">
		var is_ssl = ("https:" == document.location.protocol);
		var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
		document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript" charset="utf-8">
		var feedback_widget_options = {};
		feedback_widget_options.display = "overlay";  
		feedback_widget_options.company = "follerme";
		feedback_widget_options.placement = "right";
		feedback_widget_options.color = "#1A74B6";
		feedback_widget_options.style = "idea";
		var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
{% endblock %}
