{% extends "base.html" %}

{% block title %}Processing: {{ screen_name }} - Foller.me{% endblock %}

{% block body %}
	<div class="ab_centered" style="">
		<img src="/static/images/ajax-loader.gif" alt="Please wait" style="float: left; margin-top: 28px; margin-left: 28px;" />
		<p style="float: left; margin-left: 20px; margin-top: 31px;">We're looking for tweets by <strong>@{{screen_name}}</strong>.<br />This won't take longer than a few seconds.</p>
	</div>
	
	<script>
		jQuery(document).ready(function($) {
			jQuery.post('/ajax/request/?screen_name={{ screen_name }}', {}, function(data) {
				location.reload();
			});
		});
	</script>
	
	{% include "footer_simple.html" %}
{% endblock %}
